@page "/home"
@page "/"

@inject IStringLocalizer<Index> L

<MudContainer>
    <MudGrid>
        <MudItem xs="12" sm="12" md="12">
			<MudText Align="Align.Center" Typo="Typo.h3" Class="mb-4">
				@L["index.title"]
			</MudText>
            <MudText Align="Align.Center" Typo="Typo.h6" Class="smaller">
				@L["index.description"]
			</MudText>
        </MudItem>

		<MudItem xs="12" sm="12" md="12" class="mt-4">
			<MudGrid>
				<MudItem xs="12" md="9">
					<MudTextField
						@bind-Value="_identifier"
						Variant="Variant.Outlined"
						Label="@L["index.textfield.identifier.label"]"
						Placeholder="@L["index.textfield.identifier.label"]"
						class="mb-4"
					></MudTextField>

					<MudTextField
						@bind-Value="_text"
						Variant="Variant.Outlined"
						Label="@L["index.textfield.text.label"]"
						Placeholder="@L["index.textfield.text.label"]"
						Lines="10"
						class="mb-3"
					></MudTextField>

					<div class="d-flex justify-space-between">
						<MudButton Variant="Variant.Filled" Color="Color.Primary" @onclick="@AnalyzeClicked" Disabled="@analyzed">
							@L["index.button.submit.text"]
						</MudButton>
						<MudButton Variant="Variant.Text" Color="Color.Primary" @onclick="@NextClicked">
							@L["index.button.submit.next"]
						</MudButton>
					</div>
				</MudItem>
                <MudItem xs="12" md="3">
                    @if (_textAnalyzer.Identifier.Count is not 0)
                    {
                        <MudPaper Width="100%" Class="mb-3" Elevation="0" Outlined="true">
                            <MudList Style="max-height: 300px" class="overflow-auto">
                                @foreach (var identifier in _textAnalyzer.Identifier)
                                {
                                    <MudListItem Text="@identifier"/>
                                }
                            </MudList>
                        </MudPaper>

                        <div class="d-flex justify-space-between">
                            <MudButton Variant="Variant.Text" Color="Color.Error" @onclick="@ClearClicked">
                                @L["index.button.result.clear"]
                            </MudButton>
                            <MudButton Variant="Variant.Text" Color="Color.Primary" @onclick="@ExportCsvClicked">
                                @L["index.button.result.export"]
                            </MudButton>
                        </div>
                    }
                    else
                    {
                        <IdentifierListTemplate/>
                    }
                </MudItem>
            </MudGrid>
        </MudItem>
    </MudGrid>
</MudContainer>